/* src/components/Footer.css */

.footer {
    background-color: #020617;
    /* Casi negro */
    color: #64748b;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.9rem;
}

.footer__container p {
    margin: 0.2rem 0;
}